  body {
    display: flex;
    flex-direction: column;    /* Organiza os contêineres na vertical (um embaixo do outro) */
    justify-content: center;   /* Centraliza verticalmente o conteúdo dentro do body */
    align-items: center;       /* Centraliza horizontalmente o conteúdo dentro do body */
    height: 100vh;             /* Garante que o body ocupe toda a altura da tela */
    margin: 0;                 /* Remove a margem padrão */
    background: #f0f0f0;       /* Cor de fundo */
  }

  .container {
    background: #fff;         /* Cor de fundo do contêiner */
    padding: 20px;             /* Espaçamento interno */
    margin: 10px 0;            /* Espaçamento entre os contêineres */
    border-radius: 8px;        /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 40%;                /* Largura do contêiner */
    max-width: 600px;          /* Largura máxima */
    text-align: center;        /* Centraliza o texto dentro do contêiner */
  }

  .item {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    text-align: center;
  }
  button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    flex-direction: line;
